{% extends 'base.html' %}{% load bootstrap4 %}

{% block content %}
 

 <div class="container" style="width: 50%;">
     <div class="row">
        <div class="card-group">
            <div class="card">
                <h5 class="card-title">{{user.username}}'s Profile</h5>
                {% if user.Profile.image%}
                <img src="{{user.Profile.image}}" class="card-img-top" alt="...">{% else %}
                <img style="width: 50px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1200px-Circle-icons-profile.svg.png" alt="profile">{% endif %}
              
              <div class="card-body">
                
                
               
                <p class="card-text">Username: {{user.username}}</p>
                <h4>{% if user.profile.bio %}</h4>
                <p>Bio: {{user.profile.bio}}</p>
                {% else %}
                <p>You dont have any Bio</p>
                {% endif %}
                <a href="#">Update profile</a>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            
          </div>
         
     </div>

     <div class="row">
         <h3>My projects</h3>
         {% for proje in all_my_projects %}
         <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <a href="/singleproject/{{pro.id}}"><img src="{{pro.image.url}}" class="img-fluid rounded-start" alt="{{post.name}}"></a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{pro.title}}</h5>
                  <p class="card-text">{{pro.description}}</p>
                  <a href="{{pro.links}}">{{pro.links}}</a>
                  <h5>Posted by: {{pro.user}}</h5>
                  <!-- <p class="card-text"><small class="text-muted"><a href="{% url 'comments' my_projects.id %}">Reviews</a></small></p> -->
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
     </div>
 </div>
{% endblock %}