{%extends "base.html"%} {% load bootstrap4 %}


{% block content %}
<h1>Welcome to my Awards</h1>


<!-- Top content -->

<div class="container">
    {% for pro in all_my_projects%}
    <div class="card" style="width: 18rem;">
        <img src="{{all_my_projects.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{pro.title}}</h5>
          <a href="#"></a>
          <p class="card-text">{{pro.description}}</p>
          <a href="{{pro.links}}" class="btn btn-primary">{{pro.links}}</a>
          <a href="" class="btn btn-primary">comment</a>
          <p>Posted By: {{pro.user}}</p>
        </div>
      </div>
      {% endfor %} 
</div>



{% endblock %}
